---
// Copyright (c) Pascal Brand
// MIT License

import './webtools-garland.scss'
import webtoolsGarlandImgHor from "./webtools-garland-hor.png";
const webtoolsGarlandUrlHor=`url(${webtoolsGarlandImgHor.src})`

import type { HTMLAttributes } from 'astro/types';
type Props = HTMLAttributes<"div">

const {
  class: className = '',
  style: styleProps = '',
  ...props
} = Astro.props;

const style = `${styleProps}; --wt-garland-url-hor: ${webtoolsGarlandUrlHor};`
---
<div
  style=`${style}; position:relative; padding: 40px;`
  class={className}
  {...props}>
    <slot/>
    <div id='webtools-garland_top' class="webtools-garland">  </div>
    <div id='webtools-garland_bottom' class="webtools-garland">  </div>
</div>

<script>
  let webtoolsGarlandStep = 0
  function webtoolsGarland() {
    function updateIdClass(id: string, newClass: string) {
      const idElement = document.getElementById(id)
      if (idElement) {
        idElement.className = `webtools-garland ${newClass}`;
      }
    }
    const newClass = `webtools-garland_${webtoolsGarlandStep}`
    updateIdClass('webtools-garland_bottom', newClass)
    updateIdClass('webtools-garland_top', newClass)
    webtoolsGarlandStep = (webtoolsGarlandStep+1)%4
  }

  setInterval(webtoolsGarland, 600)
</script>
